<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="F:\Myweb\rdie\venv\Scripts\python.exe|F:\Myweb\rdie\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>

    <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="F:\Myweb\rdie" />
    <add key="DJANGO_SETTINGS_MODULE" value="rdie.settings" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="F:\Myweb\rdie\wsgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />

    </appSettings>
</configuration>
